[user]
	email = happyleaves.tfr@gmail.com
	name = happyleaves
[push]
	default = simple
[credential]
	helper = cache
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	gr = log --graph --color --oneline
	br = log --graph --color --oneline --simplify-by-decoration
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
